# CMake (GitHub official template)
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
build/

# Executables
*.exe
*.out
a.out
*.app

# Object files
*.o
*.obj

# Libraries
*.a
*.lib
*.so
*.dylib
*.dll

# IDE
.vscode/
!.vscode/settings.json
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
._*
Thumbs.db

#pre
beamer/